API_KEY=your-api-key-here

CPANEL_UPLOAD_URL=https://yourdomain.com/api/upload.php
STORAGE_BASE_URL=https://yourdomain.com/api/uploads

# MODEL
MODEL_PATH=MobileNetV2_RiceLeaf.h5
MODEL-URL=https://huggingface.co/yourusername/rice-leaf-model/resolve/main/MobileNetV2_RiceLeaf.h5
# DATABASE
DB_HOST=000.000.000.00
DB_USER=your_db_user
DB_PASSWORD=your_db_password
DB_NAME=your_db_name